<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.kizai.sys.api.repository.UserInfoMapper">

	<!-- マッピング定義（ユーザ） -->
	
	<resultMap id="UserInfo" type="com.kizai.sys.api.model.entity.UserInfoDetail">
		<id column="employee_id" property="employeeId" />
		<id column="password" property="password" />
		<result column="employee_name" property="employeeName" /> 
		<result column="employee_address" property="employeeAddress"/>
		<result column="employee_department" property="employeeDepartment"/>
		<result column="employee_pj" property="employeePj" />
	</resultMap>
		
	<!-- ユーザー情報一覧取得 -->
	<select id="selectUserInfoList" resultType="UserInfoList">
        select
        	employee_id, password, employee_name, employee_address, employee_department, employee_pj
        from
        	user_info
	</select>
	
	<!-- ユーザー情報取得 -->
	<select id="selectUserInfo" resultType="UserInfoDetail">
        select
        	employee_id, password, employee_name, employee_address, employee_department, employee_pj
        from
        	user_info
        where
        	employee_id = #{userId}
	</select>
	
	<insert id="insertUserInfo">
		insert into user_info(
			employee_id,
			password,
			employee_address
		)
		values(
			#{employeeId},
			#{password},
			#{employeeAddress}
		)
	</insert>
	<!-- ユーザー情報取得 -->
	<select id="login" resultType="UserInfoDetail">
        select
        	employee_id, password, employee_name, employee_address, employee_department, employee_pj
        from
        	user_info
        where
        	employee_id = #{employeeId} and password = #{password}
	</select>
	
	<!-- ユーザー情報更新 -->
	<update id="updateUserInfo">
		update
			user_info
		SET
			employee_name = #{employeeName},
			employee_address = #{employeeAddress},
			employee_department = #{employeeDepartment},
			employee_pj = #{employeePj}
		WHERE
			employee_id = #{employeeId}
	</update>
	
	<!--パスワード更新 -->
	<update id="updateUserPassword">
		update
			user_info
		SET
			password = #{password}
		WHERE
			employee_id = #{employeeId}
	</update>

</mapper> 
